
<h1>@ViewData["message"]</h1>

<div class="row">
    <div class="col-md-5">
        <form method="post" enctype="multipart/form-data" asp-controller="SalvarUpload" asp-action="Index">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload file :</p>
                    <input class="form-control" type="file" name="files" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-success" type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </div>
</div>