<form action="/Veiculos/Salvar" method="post">

    <h1 class="row col-md-offset">@ViewBag.Title</h1>

    <div class="row col-md-offset-3">
        <label for="nome" class="col-sm-2 col-form-label text-right">Marca:</label>
        <div class="col-sm-4">
            <input type="text" id="nome" name="nome" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="modelo" class="col-sm-2 col-form-label text-right">Modelo:</label>
        <div class="col-sm-4">
            <input type="text" id="Modelo" name="Modelo" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="fabricacao" class="col-sm-2 col-form-label text-right">Ano:</label>
        <div class="col-sm-4">
            <input type="text" id="fabricacao" name="fabricacao" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="cor" class="col-sm-2 col-form-label text-right">Cor:</label>
        <div class="col-sm-4">
            <input type="text" id="cor" name="cor" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="combustivel" class="col-sm-2 col-form-label text-right">Combustivel:</label>
        <div class="col-sm-4">
            <input type="text" id="combustivel" name="combustivel" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="autoatico" class="col-sm-2 col-form-label text-right">Autmatico:</label>
        <div class="col-sm-4">
            <input type="text" id="automatico" name="automatico" />
        </div>
    </div>
    <div class="row col-md-offset-3">
        <label for="valor" class="col-sm-2 col-form-label text-right">Valor:</label>
        <div class="col-sm-4">
            <input type="text" id="valor" name="valor" />
        </div>
    </div>

    <br />
    <div class="button row col-md-offset-1">
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>




</form>

