<br />
<br />
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form" method="get">
            <div class="row">
                <div class="col-sm-5 col-xs-12">
                    <input type="text" class="form-control input-sm" placeholder="Pesquise por chaveNFE" id="ChaveNFE" name="ChaveNfe">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <label class="sr-only">Nro. NF</label>
                    <input type="text" class="form-control input-sm" placeholder="Pesquise por Pedido" id="Pedido" name="Pedido">
                </div>
                <div class="col-sm-3 col-xs-12">
                    <input type="submit" class="btn btn-info btn-sm btn-block" value="Filtrar">
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 30px;">#</th>
                        <th style="width: 30px;">#</th>
                        <th style="width: 200px;">Nome</th>
                        <th style="width: 250px;">CNPJ</th>
                        <th style="width: 100px;">Situação</th>
                        <th style="width: 150px;">Inclusão</th>
                        <th style="width: 30px;">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2</td>
                        <td>[CGH] SARAIVA</td>
                        <td>61365284017007</td>
                        <td>Ativo</td>
                        <td>17/08/2021</td>
                        <td>Integração EDI</td>
                        <td>Integração EDI</td>
                    </tr>
                </tbody>
            </table>

        </form>
    </div>
</div>
<!-- Grid -->
